body {
	background-position: center;
	background-image: url(hatter7.jpg);
	background-size: cover;
	height: 100%;
}


p {
	color: #ffffff;
	text-align: center;
	padding-top: 190px;
	padding-bottom:70px;
	font-family: 'Sacramento', cursive;
	font-size: 70px;
}

.btn-primary {
	display: flex,
	flex-wrap: wrap;
	justify-content: center;
	color: #1A4B44;
	background-color: white;
	border-color: #1A4B44;
	transition: 1s;
	border-radius: 300px;
}

.btn-primary:hover {
	transform: scale(1.1);
	background-color: grey;
	border: #1A4B44;
	cursor: pointer;
}